#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(0, 0, 77);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.app-container{
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.header{
  color: cyan;
  letter-spacing: 2rem;
  border-bottom: 2px dotted cyan;
}

aside nav{
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
aside a{
  padding: 8px 10px;
  border-radius:  8px;
  display: block;
  text-decoration: none;
  color: cyan;
  font-size: larger;
  border: 2px solid cyan;

}