#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body{
  background-color: antiquewhite;
  font-family: sans-serif;
  
}

h1{
  font-size: xx-large;
  font-weight: 900;
}
button{
  height: 50px;
  width: 100px;
  margin: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: large;
}
.start-stop{
  background-color: greenyellow;
}
.reset{
  background-color: red;
}