body{
	background-color: #F69F42;
	color: white;
	font-family: sans-serif;
}

.card{
	background-color: #1B2E2C;
	width: 40vw;
	margin: 10vh auto;
	padding: 3rem;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

h1{
	color: #F69F42;
}
button{
	color: black;
	background-color: #F69F42;
	width: 40%;
	height: 2.5rem;
	border: none;
	border-radius: 10px;
	font-weight: bold;
	align-self: center;
}

form{
	width: 100%;
	display: flex;	
	flex-direction: column;
}
h3{
	color: #807776;
}
input{
	margin-bottom: 1rem;
	padding: 0.5rem;
	height: 2rem;
	background-color: #354343;
	color: white;
}