body{
  background-color: navajowhite;
  font-family: sans-serif;
}
.container{
  height: 70vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.colorPick{
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
}
.colorPick:nth-child(7){
  border: 2px solid white;
}