body {
    background-color: #fdf6e3;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 90vh;
}

.list, .form {
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 40%;
    height: 80%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px 0;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button.delete {
    background-color: #dc3545;
	width: 100%;
}

button.delete:hover {
    background-color: #a71d2a;
}
