.form {
  width: 70vw;
  margin: 0 auto;
  background-color: rgb(69, 41, 41);
  padding: 2rem;
  border-radius: 2rem;
}

.avatarsSelect {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* pojedynczy avatar (label) */
.avatar img {
  width: 100px;
  border-radius: 50%;
  border: 0 solid transparent;
}


/* UWAGA: klasa jest na label, więc stylujemy img w środku label.selected */
.avatar.selected img {
  border: 5px solid blue;
}

input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
  background: transparent;
  appearance: none;
}

/* --- Statystyki --- */
.selectStats {
  margin-top: 16px;
  display: grid;
  gap: 12px;
}

.statsHeader {
  font-size: 14px;
}

.statRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
}

.statLabel {
  min-width: 140px;
}

.dots {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #bbb;
  background: #fff;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.dot:hover {
  border-color: #888;
}

.filled {
  background: blue; /* czerwony */
  border-color: blue;
}

.blocked {
  cursor: not-allowed;
  opacity: 0.4;
}

.dot:focus-visible {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.inputs{
	padding: 2rem;
	input{
		padding: 0.5rem 1rem;
		margin: 1rem;
		border-radius: 0.5rem;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);	}
}
.buttons{
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin: 1rem auto;
}